<form ngForm #assignmentsForm class="form">

  <mat-form-field>
    <input matInput #assignmentName [(ngModel)]="name" name="name">
  </mat-form-field>
  <button mat-stroked-button
          [disabled]="!enabled"
          (click)="onSubmit(assignmentName.value)"
          color="primary">Add Assignment</button>
</form>

<p>{{name}}</p>

  <div *ngFor="let assignment of assignments">

  <p appSubmitted *ngIf="assignment.submitted; else unsubmitted">
    <input type="checkbox"
           (click)="changeSubmission(assignment)">
    Assignment {{assignment.name}} has been submitted!</p>

  <ng-template #unsubmitted>
    <p appUnsubmitted>
    <input type="checkbox"
           (click)="changeSubmission(assignment)">
     Assignment {{assignment.name}} hasn't been submitted</p></ng-template>
</div>
